<h2>Deal or No Deal in plain HTML</h2>
Browser game with no JavaScript or CSS<br/>
Made by <a href="http://thomasnakagawa.com">Thomas Nakagawa</a><br/>
Based on the game show <a href="https://en.wikipedia.org/wiki/Deal_or_No_Deal_(U.S._game_show)">Deal or No Deal</a><br/>
Source code on  <a href="https://github.com/thomasnakagawa/Deal-or-No-Deal---plain-HTML-edition">Github</a><br/>
<br/>
<a href="/">Back to home page</a><br/>
