#parse("subComponents/moneyAmountsTable.vm")
#renderMoneyTable($gameState.getMoneyTableState())

#parse("subComponents/caseTable.vm")
#renderCaseTable($gameState.getCaseList(), false)

<center>
    #renderIndividualCase($gameState.getOwnCase())
    <h3>The banker offers you <b>$Formatter.formatMoney($gameState.getLatestOffer())</b> for your case</h3>
    <h1><a href="/game/$gameID/deal/yes">DEAL</a></h1>
    or
    <h1><a href="/game/$gameID/deal/no">NO DEAL</a></h1>
    #if ($gameState.getOfferHistoryMinusMostRecent().size() > 0)
        <br/>
        <p>Previous offers</p>
        #foreach( $offer in $gameState.getOfferHistoryMinusMostRecent() )
            $Formatter.formatMoney($offer)
            <br/>
        #end
    #end
</center>

#include("subComponents/footer.vm")