#parse("subComponents/moneyAmountsTable.vm")
#renderMoneyTable($gameState.getMoneyTableState())

#parse("subComponents/caseTable.vm")
#renderCaseTable($gameState.getCaseList(), false)

<center>
    #renderIndividualCase($gameState.getOwnCase())
    <h3>
        #if($gameState.getEndingType() == "Deal")
            #set($offers = $gameState.getOfferHistoryMinusMostRecent())
            <br/>
            You sold your case to the banker for $Formatter.formatMoney($gameState.getLatestOffer()), it contained $Formatter.formatMoney($gameState.getOwnCase().getValue()).
            <br/>
            <br/>
            You won $Formatter.formatMoney($gameState.getLatestOffer()), congratulations!
        #elseif($gameState.getEndingType() == "Swap")
            #set($offers = $gameState.getFullOfferHistory())
            <br/>
            You swapped with case $gameState.getOwnCase().getNumber(). Your new case contains $Formatter.formatMoney($gameState.getOwnCase().getValue()). Your original case contained $Formatter.formatMoney($gameState.getTheFinalCase().getValue()).
            <br/>
            <br/>
            You won $Formatter.formatMoney($gameState.getOwnCase().getValue()), congratulations!
        #else
            #set($offers = $gameState.getFullOfferHistory())
            <br/>
            You kept your case and it contained $Formatter.formatMoney($gameState.getOwnCase().getValue()). The other case contained $Formatter.formatMoney($gameState.getTheFinalCase().getValue()).
            <br/>
            <br/>
            You won $Formatter.formatMoney($gameState.getOwnCase().getValue()), congratulations!
        #end
    </h3>

    #if ($offers.size() > 0)
        <br/>
        <p>You turned down offers for</p>
        #foreach( $offer in $offers )
            $Formatter.formatMoney($offer)
            <br/>
        #end
    #end
    <br/>
    <br/>
    <form action="/game/$gameID/leaderboard" method="post">
        Enter your name into the leaderboards:
        <input type="text" name="name">
        <input type="submit" value="Submit">
    </form>
</center>

#include("subComponents/footer.vm")