<center>
    <br/>
    <h1>DEAL or NO DEAL</h1
    <h2>In plain HTML</h2>
    <br/>
    <br/>
    <a href="/start">Start</a><br/>
    <a href="/leaderboard">Leaderboard</a><br/>
    <a href="/about">About</a>
</center>