#parse("subComponents/moneyAmountsTable.vm")
#renderMoneyTable($gameState.getMoneyTableState())

#parse("subComponents/caseTable.vm")
#renderCaseTable($gameState.getCaseList(), false)

<center>
    #renderIndividualCase($gameState.getChosenCase())
    <h3>There is only one case left. Do you want to swap?</h3>
    <h4><a href="/game/$gameID/swap/yes">Swap cases</a></h4>
    or
    <h4><a href="/game/$gameID/swap/no">Keep my case</a></h4>
</center>

#include("subComponents/footer.vm")